<<<<<<< HEAD
=======
<<<<<<< HEAD

=======
<<<<<<< HEAD
========
This is home page
========
=======
<<<<<<< HEAD
>>>>>>> 5a795c21f7d78d8f21c6bd2902535dd2cd76bfec
>>>>>>> d4fc60e117b8ca30feced9b7b2fa0a42c9712216
<div align="center"><%= form_for(:registration,:url => {:controller => "login", :action => "create"}) do |f|%>
<i style="color:green">Already A User  :</i>    
<%= f.label :email %>
  <%= f.text_field :email %>
<%= f.label :Password  %>
  <%= f.password_field :password %>
  <%= f.submit "Login" %><br /></br />
<% end %></div>
<div align="right">
 <i style="font-size:20px">Do u Want To Register</i>
<<<<<<< HEAD
 <%= link_to "Register Now",new_registration_path %> 
</div>
=======
 <%= link_to "Register Now",registrations_path %>
 
</div></br></br>
<div align="right">
<i style="font-size:20px">Users Bookmarks</i>
<%= link_to '@total_bookmarks.title' %>
</div>
<<<<<<< HEAD

=======
=======
<<<<<<< HEAD
This is home page
=======
hi how ru
>>>>>>> 33974ae8361aa7be140ed58d918681e684cebaa1
>>>>>>> 78e96ad409b22ad63c71ab33320580c4a5c00ca8
>>>>>>> 3271831d142430af27be10ac9d061af528258ffa
>>>>>>> 5a795c21f7d78d8f21c6bd2902535dd2cd76bfec
>>>>>>> d4fc60e117b8ca30feced9b7b2fa0a42c9712216
